@import url(http://fonts.googleapis.com/css?family=Raleway%3A400%2C900%2C800%2C600%2C700%2C300%2C500|Source%2BCode%2BPro);
@font-face {
    font-family: coc;
    src: url(../coc-webfont.html);
    src: url(../coc-webfontd41dd41dd41dd41dd41dd41d.html?#iefix) format('embedded-opentype'), url(../coc-webfont-2.html) format('woff'), url(coc-webfont.ttf) format('truetype'), url(../coc-webfont-3.html#supercell-magicregular) format('svg');
    font-weight: 400;
    font-style: normal
}
@media (max-width:991px) {
    body {
        text-align: center
   }
}
section {
    margin: 20px auto
}
section .inside-section {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}
section .inside-section .section-heading {
    border: 2px solid #56bd13;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    padding: 8px;
    overflow: hidden;
    background: #ae5d19;
    background: -moz-linear-gradient(top, #ae5d19 0, #b53d3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ae5d19), color-stop(100%, #b53d3d));
    background: -webkit-linear-gradient(top, #ae5d19 0, #b53d3d 100%);
    background: -o-linear-gradient(top, #ae5d19 0, #b53d3d 100%);
    background: -ms-linear-gradient(top, #ae5d19 0, #b53d3d 100%);
    background: linear-gradient(to bottom, #333 0, #1d1d1c 100%);
    text-align: center
}
section .inside-section .section-heading h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #f8cc32;
    font-family: coc;
    font-weight: 900;
    font-size: 2em;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .58);
    text-shadow: 0 2px 0 0 rgba(0, 0, 0, .58)
}
@media (max-width:991px) {
    section .inside-section .section-heading h1 {
        font-size: 2em
   }
}
section .inside-section .section-heading h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #f8cc32;
    font-family: coc;
    font-weight: 900;
    font-size: 2em;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .58);
    text-shadow: 0 2px 0 0 rgba(0, 0, 0, .58)
}
@media (max-width:991px) {
    section .inside-section .section-heading h2 {
        font-size: 2em
   }
}
section .inside-section .section-heading p {
    font-size: 1.2em;
    color: #fff;
    margin: 5px 0 0 0;
    padding: 0
}
@media (max-width:991px) {
    section .inside-section .section-heading p {
        font-size: 2em
   }
    section .inside-section .section-heading p {
        font-size: 1.2em
   }
}
section .inside-section .section-content {
    background-color: #333;
    padding: 40px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 2px solid #56bd13;
    box-shadow: 0 0 13px 1px #000;
    position: relative
}
.connect_section .account_connect_area {
    position: relative;
    background-color: #5b544f;
    color: #363636;
    padding: 0
}
.connect_section .account_connect_area .connected_msg {
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%
}
.connect_section .account_connect_area .connected_msg .overlay {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, .79);
    width: 100%;
    height: 100%
}
.download-button {
    -moz-box-shadow: inset 0 0 0 0 #fff6af;
    -webkit-box-shadow: inset 0 1px 0 0 #fff6af;
    box-shadow: inset 0 1px 0 0 #fff6af;
    background-image: url(data:image/svg+xml;
   base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWM2NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYWIyMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 20%;
    background-image: -moz-linear-gradient(#ffec64, #ffab23);
    background-image: -webkit-linear-gradient(#ffec64, #ffab23);
    background-image: linear-gradient(#ffec64, #ffab23);
    background-color: #ffec64;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #fa2;
    display: inline-block;
    cursor: pointer;
    color: #333;
    font-family: coc, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 6px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fe6;
    outline: 0;
    width: 20%
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
   }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
   }
}
footer {
    margin: 0 auto 30px auto
}
footer p {
    color: #eee
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
   }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
   }
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
   }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
   }
}
.container {
    max-width: 970px!important
}
.connect_section .account_connect_area .connected_msg1 {
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%
}
.connect_section .account_connect_area .connected_msg1.overlay {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, .79);
    width: 100%;
    height: 100%
}
